---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001896d826924764ff19860adc3091aea73
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19999'
      X-Ratelimit-Reset:
      - '1653267953'
      X-Server:
      - alpaca
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":8867272,"width":4000,"height":6000,"url":"https://www.pexels.com/photo/group-of-people-working-in-a-call-center-8867272/","photographer":"Yan
        Krukov","photographer_url":"https://www.pexels.com/@yankrukov","photographer_id":2905570,"avg_color":"#978F82","src":{"original":"https://images.pexels.com/photos/8867272/pexels-photo-8867272.jpeg","large2x":"https://images.pexels.com/photos/8867272/pexels-photo-8867272.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/8867272/pexels-photo-8867272.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/8867272/pexels-photo-8867272.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/8867272/pexels-photo-8867272.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/8867272/pexels-photo-8867272.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/8867272/pexels-photo-8867272.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/8867272/pexels-photo-8867272.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Man
        and Woman Sitting at the Table"},{"id":8867237,"width":6000,"height":4000,"url":"https://www.pexels.com/photo/woman-in-black-blazer-wearing-a-headset-8867237/","photographer":"Yan
        Krukov","photographer_url":"https://www.pexels.com/@yankrukov","photographer_id":2905570,"avg_color":"#868583","src":{"original":"https://images.pexels.com/photos/8867237/pexels-photo-8867237.jpeg","large2x":"https://images.pexels.com/photos/8867237/pexels-photo-8867237.jpeg?auto=compress\u0026cs=t[...]
