---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=7d385715432a5aed8773cb0c80917c30&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1650742734,"sunrise":1650715839,"sunset":1650764727,"temp":287.75,"feels_like":285.81,"pressure":1000,"humidity":21,"dew_point":266.52,"uvi":6.14,"clouds":96,"visibility":10000,"wind_speed":5.36,"wind_deg":313,"wind_gust":10.28,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1650742740,"precipitation":0},{"dt":1650742800,"precipitation":0},{"dt":1650742860,"precipitation":0},{"dt":1650742920,"precipitation":0},{"dt":1650742980,"precipitation":0},{"dt":1650743040,"precipitation":0},{"dt":1650743100,"precipitation":0},{"dt":1650743160,"precipitation":0},{"dt":1650743220,"precipitation":0},{"dt":1650743280,"precipitation":0},{"dt":1650743340,"precipitation":0},{"dt":1650743400,"precipitation":0},{"dt":1650743460,"precipitation":0},{"dt":1650743520,"precipitation":0},{"dt":1650743580,"precipitati[...]
