---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=1&location=pueblo&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer _jexkdpHTD2uTMAQ3f2MAaRwlYav0Ja7K-dNKMsaKcM5eDWORGHzCbDPJCnmT8LGwL5eC2t8eBuTbk10yy_tTjQuv0hvHJb3Ce5ePI2MtSd46ujcUwUhr4lDvXdlYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-dbd49b665-2b2db; site=public_api_v3
      X-Zipkin-Id:
      - 315acada94825add
      Ratelimit-Remaining:
      - '5000'
      Ratelimit-Resettime:
      - '2022-04-27T00:00:00+00:00'
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-173-40-uswest2bprod
      X-Extlb:
      - 10-69-173-40-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "kQxM1xlaZfQmXpKaqMTNnw", "alias": "wonderful-bistro-pueblo",
        "name": "Wonderful Bistro", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/HqKiK_Ju61fC4nSFq_fgHg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wonderful-bistro-pueblo?adjust_creative=iEobXYc1gbL99nw7BX4ytg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=iEobXYc1gbL99nw7BX4ytg",
        "review_count": 74, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.0, "coordinates": {"latitude": 38.319366, "longitude": -104.616623},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "4602
        N Elizabeth St", "address2": "Ste 120", "address3": "", "city": "Pueblo",
        "zip_code": "81008", "country": "US", "state": "CO", "display_address": ["4602
        N Elizabeth St", "Ste 120", "Pueblo, CO 81008"]}, "phone": "+17195440233",
        "display_phone": "(719) 544-0233", "distance": 4166.934346162075}], "total":
        20, "region": {"center": {"longitude": -104.62348937988281, "latitude": 38.28234605423732}}}'
  recorded_at: Tue, 26 Apr 2022 15:21:14 GMT
recorded_with: VCR 6.1.0
