---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=3&location=pueblo&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      X-Routing-Service:
      - routing-main--uswest2-6f9cc7c6d9-qp5j9; site=public_api_v3
      Ratelimit-Remaining:
      - '4982'
      Ratelimit-Resettime:
      - '2022-04-26T00:00:00+00:00'
      X-Zipkin-Id:
      - ca8db015bf792351
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-152-12-uswest2bprod
      X-Extlb:
      - 10-69-152-12-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "kQxM1xlaZfQmXpKaqMTNnw", "alias": "wonderful-bistro-pueblo",
        "name": "Wonderful Bistro", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/HqKiK_Ju61fC4nSFq_fgHg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wonderful-bistro-pueblo?adjust_creative=iEobXYc1gbL99nw7BX4ytg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=iEobXYc1gbL99nw7BX4ytg",
        "review_count": 74, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.0, "coordinates": {"latitude": 38.319366, "longitude": -104.616623},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "4602
        N Elizabeth St", "address2": "Ste 120", "address3": "", "city": "Pueblo",
        "zip_code": "81008", "country": "US", "state": "CO", "display_address": ["4602
        N Elizabeth St", "Ste 120", "Pueblo, CO 81008"]}, "phone": "+17195440233",
        "display_phone": "(719) 544-0233", "distance": 4166.934346162075}, {"id":
        "M4MwxQAA58B7ENV8ootI-w", "alias": "kans-kitchen-pueblo", "name": "Kan''s
        Kitchen", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/RxBfJ3hjre51jCpXqNlfjA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kans-kitchen-pueblo?adjust_creative=iEobXYc1gbL99nw7BX4ytg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=iEobXYc1gbL99nw7BX4ytg",
        "review_count": 24, "categories": [{"alias": "chinese", "title":[...]
